/**
 * Reading Stylesheet
 */
.read-nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: initial;
    height: 10%;

    select {
        right: 15%;
        display: inline-block;
        width: 15%;
    }
}

.manga-read {
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-bottom: 11%;
    background-color: black;

    img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    .read-container {
        position: absolute;
        top: 11%;
        width: 100%;
    }

    .swiper-slide {
        width: 80%;
        cursor: pointer;
    }
}
