<div class="container">
    <div clas="row">
        <div class="small12 large4">
            <h4 class="footerlinks">Follow Us</h4>
            <ul>
                <li><a href=""><i class="ion-social-twitter-outline"></i></a></li>
                <li><a href=""><i class="ion-social-instagram-outline"></i></a></li>
                <li><a href=""><i class="ion-social-facebook-outline"></i></a></li>
                <li><a href=""><i class="ion-ios-email-outline"></i></a></li>
            </ul>
        </div>
        <div class="small12 large8">
            <p class="copyright">
                Rights Reserved to MangaRai (2015).
            </p>
        </div>

    </div>
</div>
