<div class="container">

<!--    <div>
<acme-navbar/>
</div> -->
<!-- App Body -->
    <div class="row">
        <div class="main-nav large-2 small-12 columns">
            <nav>
                <section class="logo">
                    <h1>MangaRai</h1>
                </section>
                <section class="nav-items">
                    <ul>
                        <li><i class="ion-ios-time-outline"></i> Recent</li>
                        <li><i class="ion-fireball"></i> Popular</li>
                        <li><i class="ion-ios-bookmarks-outline"></i> Bookmarks</li>
                    </ul>
                </section>
            </nav>
        </div>


        <div class="large-10 small-12 columns app-body">
            <main ng-controller='RecentController as recent'>
                <div class="row">
                    <div ng-animate="'animate'" ng-repeat="manga in recent.model.mangas">
                        <div class="small-12 large-4 columns manga-component" ng-style="recent.action.setClear($index)">
                            <div class="cover-wrapper">
                                <img src="https://cdn.mangaeden.com/mangasimg/{{manga.im}}" alt="" class="">
                            </div>
                            <section class="manga-summary">
                                <h2>{{manga.a}}</h2>
                                <p>Tags: {{manga.c}}</p>
                                <p>Status:
                                    <span ng-if="manga.s === 2">Completed</span>
                                    <span ng-if="manga.s === 1">On-going</span>
                                </p>
                            </section>
                        </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

</div>
