<slick infinite=true slides-to-show=1 slides-to-scroll=3>
    <div ng-repeat=" page in read.model.pages | orderBy: 'num' ">
        <picture>
             <source ng-srcset="//cdn.mangaeden.com/mangasimg/600x/{{ page.imgUrl }} 600w, //cdn.mangaeden.com/mangasimg/{{ page.imgUrl }} {{ page.width }}w">
             <img ng-src="//cdn.mangaeden.com/mangasimg/{{ page.imgUrl }}" alt="Manga: {{ read.model.title }} - Chapter: {{ read.model.chapterNum }} - Page: {{ page.num }}">
         </picture>
        {{ page.num }}
    </div>
</slick>
